ul.no-style {
  list-style: none;
}

ul.inline {
  display: flex;
  align-items: center;
}

a.normal {
  color: #3C4043;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #3C4043;
}

li {
  color: #3C4043;
}

header {
  color: #3C4043;
}
header .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
header .header-top .left {
  display: flex;
  align-items: center;
}
header .header-top .left img {
  width: 60px;
  margin-right: 5px;
  border-radius: 50%;
}
header .header-top .right {
  display: flex;
  align-items: center;
  width: 75px;
  justify-content: space-between;
}
header .header-top .right img {
  border-radius: 50%;
}
header .header-top .right i {
  color: #686B70;
  font-size: 1.2em;
}
header .header-bottom {
  padding: 10px 20px;
}
header .header-bottom nav ul {
  width: 50%;
  justify-content: space-between;
}
header hr {
  background-color: #CBCBCB;
  height: 1px;
  border: 0;
}

main {
  padding-top: 100px;
}
main li {
  padding-bottom: 15px;
}
main li.question {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 1.6em;
  padding-bottom: 25px;
}
main a {
  text-decoration: none;
}
